/* Global */
body {
    margin: 0;
    background: #121212;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.app {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 280px;
    background: #1B1B1B;
    padding: 25px;
    border-right: 1px solid #2a2a2a;
}

.logo {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.nav-item .icon {
    font-size: 20px;
    margin-right: 12px;
}

.nav-item:hover {
    background: #2c2c2c; /* H1 Hover */
}

.nav-item.active {
    background: #333;
}

/* Credits */
.credits-box {
    margin-top: 30px;
    padding: 12px;
    background: #222;
    border-radius: 8px;
}
.label {
    color: #aaa;
    font-size: 13px;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.tab {
    display: none;
}
.tab.active {
    display: block;
}

/* Max Layout */
.max-container {
    display: flex;
    gap: 25px;
}

/* Text box */
.text-box {
    width: 60%;
}
.text-box textarea {
    width: 100%;
    min-height: 300px;
    background: #0f0f0f;
    border: 1px solid #333;
    color: white;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
}

/* Control box */
.control-box {
    width: 40%;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
}
.control-box label {
    font-size: 14px;
    margin-top: 15px;
}
.control-box input, .control-box select {
    width: 100%;
    padding: 10px;
    background: #0E0E0E;
    border: 1px solid #333;
    border-radius: 8px;
    color: #fff;
}

/* Range Slider Neon style */
input[type=range] {
    width: 100%;
    height: 4px;
    background: #333;
    border-radius: 4px;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #00E5FF;
    border-radius: 50%;
    box-shadow: 0 0 12px #00E5FF;
}

/* Buttons */
.btn {
    margin-top: 16px;
    padding: 12px 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
}

.btn.preview {
    background: #444;
}
.btn.preview:hover {
    background: #555;
}

.btn.generate {
    background: #00A2FF;
    box-shadow: 0 0 10px #00A2FF;
}
.btn.generate:hover {
    background: #0090EB;
}

.btn.danger {
    background: #D93636;
}
.btn.danger:hover {
    background: #B52E2E;
}

/* Queue */
#queueContainer audio {
    margin-top: 15px;
}
